<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Landing Page</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&family=PT+Serif:ital,wght@1,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="landing.css">
</head>
<body>
     <div class="navbar">
        <div class="logo">
            <img src="images.png" alt="logo">
            SPORTS
        </div>
        <ul class="nav-links">
            <li><a href="./Home.html">HOME</a></li>
            <li><a href="./about.html">ABOUT</a></li>
            <li><a href="./services.html">EVENTS</a></li>
            <li><a href="./team.html">NOTIFICATION</a></li>
            <li><a href="/signin" class="sign-in-btn">LOG IN</a></li>
            <li><a href="/signup" class="sign-in-btn">SIGN UP</a></li>
        </ul>
    </div>
    <div class="banner">

    </div>
    <u><center><h1>WE  ORGANISE  FOR</h1></center></u>
    <div class="organises">
        <div class="games">
            <img src="cricket.jpg" alt="gameimg">
            <center>CRICKET</center>
        </div>
        <div class="games">
            <img src="football.jpg" alt="gameimg">
            <center>FOOT BALL</center>
        </div>
        <div class="games">
            <img src="basketball.jpg" alt="gameimg">
            <center>BASKET BALL</center>
        </div>
        <div class="games">
            <img src="archery.jpg" alt="gameimg">
            <center>ARCHERY</center>
        </div>
        <div class="games">
            <img src="batminton.jpg" alt="gameimg">
            <center>BATMINTION</center>
        </div>
        <div class="games">
            <img src="volleyball.jpg" alt="gameimg">
            <center>VOLLEYBALL</center>
        </div>
    </div>
    <hr style="color: aqua;">
    <div class="about">
        <u><center><h1>ABOUT US</h1></center></u>
      <div class="content">
        <div><img src="aboutus.jpg" alt="pic" /></div>
        <div class="theory">
            <p>At DSA sports, we believe that every event has the potential to be extraordinary. 
                Whether you're orchestrating a corporate conference, a community festival, or a sporting
                extravaganza, we understand the intricate dance of details that transforms a gathering
                into an unforgettable experience.
            </p>
            <p>
                About Us </br>
                As pioneers in the field of event management technology, we bring a passion for innovation and a 
                commitment to excellence. Our journey began with the vision of simplifying the complexities of
                 event planning, and today, we proudly present DSA sports – a cutting-edge solution designed to
                  empower organizers, captivate attendees, and elevate events to new heights.

            </p>
            <p>
                Our Mission:</br>
                At the core of our mission is the belief that seamless event management should be within reach for everyone.
                 We strive to provide event organizers with a robust platform that combines user-friendly design, powerful features, 
                 and unparalleled support. Whether you're a seasoned event professional or planning your first gathering, DSA sports is your 
                 trusted partner in turning visions into reality.
            </p>
            
        </div>
      </div>
    </div>
    <hr style="color: aqua;">
    <div class="dsa">
       <u> <center class="org-head">ORGANISERS</center></u>
        <div class="cards">
            <div class="card">
                <div class="img">
                    <img src="team-aniket.jpg" alt="">
                </div>
                <center><div class="details"> ANIKET KUMAR</div>
                <div class="post">ORGANISER</div>
                </center>
            </div>
            <div class="card">
                <div class="img">
                    <img src="team-sairam.jpg" alt="">
                </div>
                <center><div class="details"> ANIKET KUMAR</div>
                <div class="post">ORGANISER</div>
                </center>
            </div>
            <div class="card">
                <div class="img">
                    <img src="team-dakshith.jpg" alt="">
                </div>
                <center><div class="details"> ANIKET KUMAR</div>
                <div class="post">ORGANISER</div>
                </center>
            </div>
        </div>
    </div>
    <footer>
      
        <center><div class="bottom">
            <p>Copyright © 2021 <a href="#"></a> All rights reserved</p>
          </div></center>
    </footer>
</body>
</html>